@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.container {
  width: 100%;
  padding: 128px 24px 0 24px;
}

.task-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.page-sub-header {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 25px 0;
}

/* Board */
.board {
  margin: 3em 0;
  display: flex;
  justify-content: space-between;
}

.board-header {
  margin: 2em 0;
  text-align: center;
  position: relative;
}

.board-section {
  min-width: 30vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #2196f3;
}

.board .button-container {
  border-radius: 0 0 0 8px;
  height: 55px;
}

.board .button-container .add-button {
  margin: 0 0 15px 0;
}

.board .heading {
  padding: 10px 0;
  border-bottom: 1px solid black;
  text-align: center;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  font-size: 1.2em;
  font-weight: 600;
}

.board .tasks-container {
  overflow-y: scroll;
  height: 400px;
  cursor: pointer;
}
